<div class="container register-form">
  <div class="form">
    <div class="note">
      <p>Chỉnh Sửa Loại Bánh</p>
    </div>
    <form #categoryFrom (ngSubmit)="onSubmit(categoryFrom)">
      <div class="form-content">
        <div class="row">
          <div class="col-md-6">
            <input type="hidden" class="form-control" placeholder="Tên Loại Bánh" name="id" [value]="category.id"/>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Tên Loại Bánh" name="name" [value]="category.name"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Mô Tả" name="description"
                     [value]="category.description"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Đường Dẫn Ảnh" name="image"
                     [value]="category.image"/>
            </div>
          </div>
        </div>
        <button type="submit" class="btnSubmit">Chỉnh Sửa</button>
      </div>
    </form>
  </div>
</div>
